ipywidgets==8.1.2
numpy==1.26.4
python-dotenv==1.0.1
guardrails-ai==0.5.3
guardrails-api==0.0.1
guardrails-api-client==0.3.9
huggingface-hub==0.23.0
sentence-transformers==3.3.0
ipykernel==6.29.5
# openai==1.40.0
ollama==0.3.3